$boardColorBorder: #333;
$boardColor: lighten($boardColorBorder, 70%);
$blockColor: #FF768C;
$blockColorBorder: darken($blockColor, 15%);
$blockColorHover: darken($blockColor, 10%);

body {
  user-select: none;
}

.main {
  width: 500px;
  height: 500px;
  margin: 30px auto;
  box-sizing: content-box;
  border: 5px solid $boardColorBorder;
  background: $boardColor;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5) inset;
  position: relative;
  .block {
    border: 3px solid $blockColorBorder;
    background: $blockColor;
    border-radius: 10px;
    position: absolute;
    font-size: 80px;
    line-height: 115px;
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
    transition: 500ms;
    animation-duration: 500ms;
    &.active {
      background: $blockColorHover;
    }
    &.press{
      box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
      transform: translate(2px,2px);
    }
  }
}