$boardColorBorder: #333;
$boardColor: lighten($boardColorBorder, 70%);
$Color_default: #FFF;
$Color_0: #FFF;
$Color_1: darken(#FFF, 10%);
$Color_2: darken(#FFF, 20%);
$Color_3: darken(#FFF, 30%);
$Color_4: darken(#FFF, 40%);
$Color_5: darken(#FFF, 50%);
$Color_6: darken(#FFF, 60%);
$Color_7: darken(#FFF, 70%);
$Color_8: darken(#FFF, 80%);
$Color_9: darken(#FFF, 90%);

@mixin blockcolor($blockColor: 10px) {
  border: 3px solid darken($blockColor, 15%);
  background: $blockColor;
  &.active{
    background: darken($blockColor, 10%);
  }
}

body {
  user-select: none;
}

.main {
  width: 500px;
  height: 500px;
  margin: 30px auto;
  box-sizing: content-box;
  border: 5px solid $boardColorBorder;
  background: $boardColor;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5) inset;
  position: relative;
  .block {
    @include blockcolor($Color_default);
    border-radius: 10px;
    position: absolute;
    font-size: 80px;
    line-height: 115px;
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
    transition: 500ms;
    animation-duration: 500ms;
    &.press{
      box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
      transform: translate(2px,2px);
    }
    $color-collection: ($Color_0, $Color_1, $Color_2, $Color_3, $Color_4, $Color_5, $Color_6, $Color_7, $Color_8, $Color_9);
    @for $i from 0 to length($color-collection) {
      &.block-color-#{$i}{
        @include blockcolor(nth($color-collection, $i+1))
      }
    }
  }
}