.test {
  transform: rotate(180deg);
  animation: myanime 2s;
  a{
    text-decoration: none;
    :hover{
      color: #f00;
    }
  }
}

@keyframes myanime {
  from{
    transform: translate(0,0);
  }
  to{
    transform: translate(100px 100px);
  }
}